<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>Countries</h1>
    <form class="" action="/country" method="POST">
      Country:<br/>
      <input type="text" name="country" required><br/><br/>
      Continent:<br/>
      <input type="text" name="continent" required><br/><br/>
      Area:<br/>
      <input type="text" name="area" required><br/><br/>
      Population:<br/>
      <input type="text" name="population" required><br/><br/>
      Government:<br/>
      <input type="text" name="govn" required><br/><br/>
      <input type="submit" name="" value="Send">
    </form>

    <form class="" action="index.html" method="GET">

    </form>
  </body>
</html>
