<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>Languages</h1>
    <form class="" action="/lang" method="POST">
      Language:<br/>
      <input type="text" name="language" required><br/><br/>
      Country:<br/>
      <input type="text" name="country" required><br/><br/>
      Procentage of people speaking it:<br/>
      <input type="text" name="procentage" required><br/><br/>
      Official language?<br/>
      <input type="text" name="official" required><br/><br/>
      <input type="submit" name="" value="Send">
    </form>

    <form class="" action="index.html" method="GET">

    </form>
  </body>
</html>
